- var youTube = 'https://www.youtube.com/channel/UCGEs2qk0iHL3aziI2LHveLA'
- var faceBook = 'https://www.facebook.com/Kagayaku-Karate-625738671230510/'
- var instaGram = 'https://www.instagram.com/dr._artur_aloyan/'

header.header.mobile-header
    .header__top.mobile-header__top#mobile-header__top
        .container
            .social.mobile-social
                ul.social__list.mobile-social__list
                    li.social__item.mobile-social__item
                        a.social__link.mobile-social__link(
                            href= youTube
                            target="_blank"
                            rel="nofollow noopener"
                            title="YouTube"
                            )
                            img.social__img.social__img--header.mobile-social__img(
                                src="../images/socials/youtube-v1.png"
                                alt="YouTube"
                                )
                    li.social__item.mobile-social__item
                        a.social__link.mobile-social__link(
                            href= faceBook
                            target="_blank"
                            rel="nofollow noopener"
                            title="Facebook"
                            )
                            img.social__img.social__img--header.mobile-social__img(
                                src="../images/socials/facebook-v1.png"
                                alt="Facebook"
                                )
                    li.social__item.mobile-social__item
                        a.social__link.mobile-social__link(
                            href= instaGram
                            target="_blank"
                            rel="nofollow noopener"
                            title="Instagram"
                            )
                            img.social__img.social__img--header.mobile-social__img(
                                src="../images/socials/instagram-v1.png"
                                alt="Instagram"
                                )
    .header__base.mobile-header__base
        .container
            .header__base-inner.mobile-header__base-inner
                .header__logo.mobile-header__logo
                    a.header__logo-link.mobile-header__logo-link(
                        href="../index.html"
                        title="To home page"
                        )
                        img.header__logo-img.mobile-header__logo-img(
                            src="../images/logo-v1.png"
                            alt="Logo"
                            )
                nav.nav.mobile-nav#mobile-nav
                    ul.nav__list.mobile-nav__list
                        li.nav__item.mobile-nav__item
                            a.nav__link.mobile-nav__link(href="../about.html") About
                        li.nav__item.mobile-nav__item
                            a.nav__link.mobile-nav__link(href="../social-media.html") Social&nbsp;media
                        li.nav__item.mobile-nav__item
                            a.nav__link.mobile-nav__link(href="../events.html") Events
                        li.nav__item.mobile-nav__item
                            a.nav__link.mobile-nav__link(href="../contacts.html") Contacts
                button.mobile-header__btn#nav-btn
                    span.mobile-header__btn-span.mobile-header__btn-span-1#nav-btn-1
                    span.mobile-header__btn-span.mobile-header__btn-span-2#nav-btn-2
                    span.mobile-header__btn-span.mobile-header__btn-span-3#nav-btn-3